/* Form Field */
.container .user-box {
  position: relative;
}

.container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  color: rgb(234, 155, 253);
  outline: none;
  background: transparent;
  /* border-radius: 5px; */
  transition: all 0.2s ease;
}

form input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.container input:focus {
  color: rgb(234, 155, 253);
  border-bottom: 2px solid rgb(208, 0, 255);
}

form .user-field {
  padding-left: 12px;
}

/* Label */
.container .user-box label {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.container .user-box input:focus ~ label,
.container .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 15px;
  color: rgb(179, 0, 255);
  text-shadow: 0 0 5px rgb(179, 0, 255), 0 0 25px rgb(179, 0, 255), 0 0 50px rgb(179, 0, 255), 0 0 100px rgb(179, 0, 255);
}